.login--bkg {
  //--background: url("./../../assets/img_bkg.png") 0 0/100% 100% no-repeat;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./../../assets/img_bkg.png") no-repeat center center;
  background-size: cover;
  background-position: bottom;
  display: flex;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  width: 200%;
  height: 850px;
}
.no-scroll {
  --overflow: hidden;
}

.login--logo {
  position: absolute;
  top: 5%;
  left: 70%;
  width: 71px;
  height: 60px;
  filter: brightness(0) invert(1);
}
.login--title {
  position: absolute;
  color: white;
  font-size: 24px;
  font-weight: 700;
  top: 35%;
  left: 5%;
}

.login--input {
  position: absolute;
  color: white;
  font-size: 24px;
  font-weight: 700;
  top: 35%;
  left: 50%;
  padding-right: 10px;
  align-items: center;
}
.login--email {
  background-color: transparent;
  border: none;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  &::placeholder {
    color: white;
    text-align: left;
    padding-left: 10px;
  }
}
.login--passwd {
  background-color: transparent;
  border: none;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  &::placeholder {
    color: white;
    text-align: left;
    padding-left: 10px;
  }
}
.login--smallcircle-enable {
  position: absolute;
  top: 70%;
  left: 70%;
  background-color: #09cbdf;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  margin: 0 auto;
  opacity: 1;
}
.login--smallcircle-disable {
  position: absolute;
  top: 70%;
  left: 70%;
  background-color: #aca9a2;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  margin: 0 auto;
  opacity: 1;
}
.login--forgot_passwd {
  position: absolute;
  top: 93%;
  left: 5%;
  color: white;
  font-size: 14px;
  text-align: center;
  text-decoration-color: white;
  text-decoration: none;
  font-weight: bold;
}
.login--create_account {
  position: absolute;
  top: 93%;
  right: 5%;
  color: white;
  font-size: 14px;
  text-align: center;
  text-decoration-color: white;
  text-decoration: none;
  font-weight: bold;
}
.login--padding {
  padding-bottom: 20px;
  padding-top: 20px;
}
.arrow--left {
  width: 40%;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
}
