.password {
  display: block;
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  width: 100%;
  color: white;

  &__input {
    background-color: transparent;
    //color: #09cbdf;
    color: white;
    border: none;
    width: 80%;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    &::placeholder {
      //color: #09cbdf;
      color: white;
      text-align: left;
      padding-left: 10px;
    }
  }
}

.green_color {
  color: #09cbdf;
  &::placeholder {
    color: #09cbdf;
  }
}

.white_color {
  color: white;
  &::placeholder {
    color: white;
  }
}
